<h1>Recommendations</h1>

<% if @recommendations.size > 0 %>
	<ul class="recommendations">
		<% @recommendations.each do |r| %>
			<li><%= link_to h(r.name), recommendation_path(r) %> <%= updated_or_created_date(r.created_at, r.updated_at)%>.</li>
		<% end %>
	</ul>
<% else %>
	<p>No recommendations created yet.</p>
<% end %>

<% if @recommendations.size >= 10 %>
<p><%= link_to "All recommendations", recommendations_path, :rel => "prefetch" %></p>
<% end %>

<p><%= link_to "Add a recommendation", new_recommendation_path %></p>

<% if @recommendations.size > 0 %>

<p><%= link_to "Tags", tags_path %></p>

<p><%= link_to "Undescribed recommendations", undescribed_recommendations_path %> <%= link_to "Unjustified recommendations", unjustified_recommendations_path %></p>
<% end %>