<% @page_title = @recommendation.name %>
<%= editable_resource_title(@recommendation, recommendation_path(@recommendation))%>

<!--<div class="text_edit" id="text_edit"><div class="edit_info"><a href="/recommendations/4/edit" onclick="convertH1(); return false;">Rename?</a></div><h1 onclick="convertH1(); return false;" class="description">Test again</h1></div>	-->
		
<%= render :partial => "navigation" %>

<% if @description %>

	<% if logged_in? %>
		<%= editable_text(description_format(@description.description), "Edit", new_recommendation_description_path(@recommendation)) %>
	<% else %>
		<%= description_format(@description.description) %>
	
	<% end %>
	
	<p>Last updated <%= (time_ago_in_words(@description.updated_at))%> ago. 
	<% if @recommendation.descriptions.count > 1 %>
	There have been <%= link_to pluralize(@recommendation.descriptions.count, "revision"), recommendation_descriptions_path(@recommendation) %>.
	<% end %>
	</p>

<% else %>

		<p>No description yet.</p>

		<p><%= link_to "Add description", new_recommendation_description_path(@recommendation)%></p>	
	
<% end %>

<p>Created by <%= user_link(@recommendation.user) %> <%= time_ago_in_words(@recommendation.created_at) %> ago.</p>

<% tag_links = Array.new %>
<% @recommendation.taggings.each do |tagging| %>
<% tag_links << tag_link(tagging) + " " + link_to("x", tagging_path(tagging), :method => "delete", :confirm => "Are you sure you want to delete this tag?", :title => "Delete tag", :class => "delete") + ""%>
<% end %>
<% tag_links.sort! %>

<%= content_tag("p", "Tagged: " + tag_links.to_sentence + ".", :class => "tags") unless tag_links.empty? %>

<% if logged_in? %>
	<% form_for(:tagging, :url => taggings_path) do |f| %>

		<%= f.hidden_field :recommendation_id, {:value => @recommendation.id} %>
		<%= f.text_field :tag_text %>
		<%= submit_tag "Add tag" %>

	<% end %>
<% end%>
